#ask label{
    font-weight: bold;
}

#question-title{
    display: flex;
    flex-direction: column;

    width: 100%;
}

#ask-title-table{
    width: 100%;
}
#ask-title-label{
    width: 7%;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

#question-body-textarea-div{
    width: 100%;
    align-items: center;
    display:flex;
}


#question-input{
    width: 90%;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 20px;
    margin-top:10px;
    margin-right: 18px;
    min-height: 20vh;
}

#title{
    width: 105%;
    margin-top:10px;
}

#size-normalizer{
    width: 90%;
}

#form-tags{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 30px;
}

#tagnames{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 18px;
    width: 85%;
}

#send-button{
    display: inline-block;
    position: relative;
    padding: .5em .8em;
    vertical-align: middle;
    min-height: 2.46153846em;
    box-sizing: border-box;
    font-weight: 400;
    font-family: inherit;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    touch-action: manipulation;
    transition: all .1s ease-in;
    background-color: #004D40;
    margin-right: 12px;
    margin-top:15px;
    color: white;
}

#send-button-div{
    display:flex;
    justify-content: flex-end;
}

