html, body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 95%);
}

*{
  font-family: Arial;
}

h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 16px;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: hsl(0, 0%, 85%);
  color: hsl(0, 0%, 10%);
  font-weight: 800;
}

textarea {
  resize: none;
}

#header {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #004D40;
  color: hsl(0, 0%, 90%);
  font-size: 20px;
}

#navigation {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #00695C;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

ul.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a.navigation-list-item {
  text-decoration: none;
  color: hsl(0, 0%, 90%);
  padding-bottom: 10px;
}

a.navigation-list-item.selected {
  border-bottom: 4px solid hsl(0, 0%, 90%);
}


ul.tag-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.tag-list-item a {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid hsl(0, 0%, 60%);
  text-decoration: none;
  color: hsl(0, 0%, 10%);
  font-size: 16px;
  font-weight: 200;
}

.list-item-name {
  font-weight: 600;
}

.list-item-amount {
  font-size: 14px;
  font-weight: 400;
}




.question-vote, .question-response {
  display: flex;
}

.question-response {
  margin-top: 10px;
}


.vote-icon {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url('img/up.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.response-icon {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url('img/response.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.vote-number, .response-number {
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
